# Скопируйте и заполните:
#   make secrets-values   # из authorized-key.json
# или:
#   cp values.secrets.yaml.example values.secrets.yaml
#
# Деплой:
#   helm upgrade --install bulletin-board . \
#     -f values.yaml -f values.secrets.yaml -n hexlet-project --create-namespace

externalSecrets:
  ycAuth:
    authorizedKey:
      id: "<key-id>"
      service_account_id: "<eso-service-account-id>"
      created_at: "<created-at>"
      key_algorithm: RSA_2048
      public_key: |
        -----BEGIN PUBLIC KEY-----
        ...
        -----END PUBLIC KEY-----
      private_key: |
        PLEASE DO NOT REMOVE THIS LINE! Yandex.Cloud SA Key ID <key-id>
        -----BEGIN PRIVATE KEY-----
        ...
        -----END PRIVATE KEY-----
